@model IEnumerable<CrudApplication.Models.Pessoa>

@{ ViewBag.Title = "Index"; }

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Cadastro de Pessoa", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logradouro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCasa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroTelefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DDD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoTelefone)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CPF)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Logradouro)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumeroCasa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Bairro)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cidade)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumeroTelefone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DDD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TipoTelefone)
    </td>

    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.Id })|@Html.ActionLink("Detalhes", "Details", new { id = item.Id })|@Html.ActionLink("Deletar", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
